# Scraping with Pandas

In [1]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [2]:
url = 'https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/medal-standings.htm'

In [3]:
tables = pd.read_html(url, flavor='html5lib')
tables

[    Rank                    Team/NOC  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
 0      1  People's Republic of China          19          10          11
 1      2                       Japan          17           4           7
 2      3    United States of America          14          17          11
 3      4                         ROC          10          14          10
 4      5                   Australia           9           2          11
 ..   ...                         ...         ...         ...         ...
 65    63                     Finland           0           0           1
 66    63                      Israel           0           0           1
 67    63                      Kuwait           0           0           1
 68    63                    Portugal           0           0           1
 69    63                  San Marino           0           0           1

     Total  RankbyTotal NOCCode
 0      40            2     CHN
 1      28            4     JPN
 2      42            1     USA
 3      34            3     ROC
 4      22            6     AUS
 ..    ...          ...     ...
 65      1           47     FIN
 66      1           47     ISR
 67      1           47     KUW
 68      1           47     POR
 69      1           47     SMR

 [70 rows x 8 columns],
                 Team/NOC  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total NOCCode
 0                  China           6           4           5     15     CHN
 1                  Japan           8           3           1     12     JPN
 2          United States           6           3           3     12     USA
 3                    ROC           5           4           6     15     ROC
 4              Australia           2           2           6     10     AUS
 5          Great Britain           5           6           3     14     GBR
 6      Republic of Korea           2           1           6      9     KOR
 7            Netherlands           2           4           0      6     NED
 8                 France           2           0           2      4     FRA
 9                Germany           0           3           4      7     GER
 10           New Zealand           1           1           2      4     NZL
 11        Czech Republic           3           2           1      6     CZE
 12               Croatia           2           1           2      5     CRO
 13                 Italy           1           5           5     11     ITA
 14               Hungary           2           1           2      5     HUN
 15              Slovenia           2           0           1      3     SLO
 16                Brazil           1           1           2      4     BRA
 17           Switzerland           0           1           1      2     SUI
 18               Georgia           1           3           0      4     GEO
 19               Romania           0           2           0      2     ROU
 20        Chinese Taipei           0           2           0      2     TPE
 21      Hong Kong, China           1           0           0      1     HKG
 22               Austria           0           0           1      1     AUT
 23                Serbia           0           1           1      2     SRB
 24                Norway           1           1           0      2     NOR
 25              Slovakia           0           1           0      1     SVK
 26               Tunisia           1           1           0      2     TUN
 27               Ireland           1           0           0      1     IRL
 28            Uzbekistan           1           0           1      2     UZB
 29               Ecuador           1           0           0      1     ECU
 30              Ethiopia           1           0           0      1     ETH
 31                  Fiji           1           0           0      1     FIJ
 32                Greece           1           0           0      1     GRE
 33  Islamic Rep. of Iran           1           0           0      1     IRI
 34                Latvia           1           0           0      1     LAT
 35              Colombia           0           1           1      2     COL
 36                 Spain           0           0           1      1     ESP
 37             Indonesia           0           1           1      2     INA
 38              Mongolia           0           1           1      2     MGL
 39               Belgium           0           1           1      2     BEL
 40                  Cuba           0           0           1      1     CUB
 41               Denmark           0           1           1      2     DEN
 42                Uganda           0           1           1      2     UGA
 43                Jordan           0           1           0      1     JOR
 44       North Macedonia           0           1           0      1     MKD
 45             Venezuela           0           1           0      1     VEN
 46               Ukraine           0           0           2      2     UKR
 47            Kazakhstan           0           0           2      2     KAZ
 48                 Egypt           0           0           1      1     EGY
 49                Turkey           0           0           1      1     TUR
 50             Argentina           0           0           1      1     ARG
 51               Finland           0           0           1      1     FIN
 52                Kuwait           0           0           1      1     KUW
 53              Portugal           0           0           1      1     POR,
              Team/NOC  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total NOCCode
 0               China          10           4           6     20     CHN
 1               Japan           8           1           5     14     JPN
 2       United States           8          11           8     27     USA
 3                 ROC           5           9           3     17     ROC
 4           Australia           7           0           5     12     AUS
 5       Great Britain           1           3           4      8     GBR
 6   Republic of Korea           2           3           0      5     KOR
 7         Netherlands           1           2           5      8     NED
 8              France           1           5           3      9     FRA
 9             Germany           1           0           5      6     GER
 10             Canada           3           3           5     11     CAN
 11        New Zealand           2           2           0      4     NZL
 12            Croatia           1           0           0      1     CRO
 13              Italy           1           2           6      9     ITA
 14           Slovenia           0           1           0      1     SLO
 15             Kosovo           2           0           0      2     KOS
 16             Brazil           0           2           1      3     BRA
 17        Switzerland           1           2           2      5     SUI
 18            Romania           1           1           0      2     ROU
 19     Chinese Taipei           1           0           2      3     TPE
 20   Hong Kong, China           0           2           0      2     HKG
 21       South Africa           1           2           0      3     RSA
 22            Austria           1           1           1      3     AUT
 23             Serbia           1           0           1      2     SRB
 24           Slovakia           1           0           0      1     SVK
 25            Estonia           1           0           1      2     EST
 26            Ireland           0           0           1      1     IRL
 27            Bermuda           1           0           0      1     BER
 28        Philippines           1           0           0      1     PHI
 29           Thailand           1           0           0      1     THA
 30           Colombia           0           1           0      1     COL
 31              Spain           0           2           0      2     ESP
 32          Indonesia           0           0           1      1     INA
 33           Mongolia           0           0           1      1     MGL
 34               Cuba           0           1           0      1     CUB
 35           Bulgaria           0           1           0      1     BUL
 36              India           0           1           0      1     IND
 37             Poland           0           1           0      1     POL
 38       Turkmenistan           0           1           0      1     TKM
 39            Ukraine           0           0           1      1     UKR
 40         Kazakhstan           0           0           1      1     KAZ
 41              Egypt           0           0           1      1     EGY
 42             Mexico           0           0           1      1     MEX
 43             Turkey           0           0           1      1     TUR
 44         Azerbaijan           0           0           1      1     AZE
 45      Côte d'Ivoire           0           0           1      1     CIV
 46             Israel           0           0           1      1     ISR
 47         San Marino           0           0           1      1     SMR,
              Team/NOC  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total NOCCode
 0               China           3           2           0      5     CHN
 1               Japan           1           0           1      2     JPN
 2       United States           0           2           0      2     USA
 3                 ROC           0           1           1      2     ROC
 4       Great Britain           1           0           0      1     GBR
 5   Republic of Korea           1           0           0      1     KOR
 6         Netherlands           0           1           0      1     NED
 7              France           0           0           1      1     FRA
 8      Chinese Taipei           0           0           1      1     TPE
 9             Ukraine           0           0           1      1     UKR
 10             Mexico           0           0           1      1     MEX,
         Team/NOC  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total NOCCode
 0  United States           0           1           0      1     USA
 1  Great Britain           0           0           2      2     GBR
 2        Germany           2           1           0      3     GER]

In [4]:
len(tables

9

#### What we get in return is a list of dataframes for any tabular data that Pandas found.

In [4]:
type(tables)

list

#### We can slice off any of those dataframes that we want using normal indexing.

In [5]:
df = tables[0]
df.head()

,Rank,Team/NOC,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total,RankbyTotal,NOCCode
0,1,People's Republic of China,19,10,11,40,2,CHN
1,2,Japan,17,4,7,28,4,JPN
2,3,United States of America,14,17,11,42,1,USA
3,4,ROC,10,14,10,34,3,ROC
4,5,Australia,9,2,11,22,6,AUS

#### Drop all single header rows

In [14]:
df.columns = df.columns.get_level_values(0)
df = df.loc[df.Ref.str.startswith("[")]
df.head()

,City,Building,Start date,End date,Duration,Ref
0,"Philadelphia, Pennsylvania",Independence Hall,"July 4, 1776 (convened May 10, 1775, prior to ...","December 12, 1776",5 months and 8 days,[8]
1,"Baltimore, Maryland",Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,[9]
2,"Philadelphia, Pennsylvania",Independence Hall,"March 5, 1777","September 18, 1777",6 months and 13 days,[10]
3,"Lancaster, Pennsylvania",Court House,"September 27, 1777","September 27, 1777",1 day,[10]
4,"York, Pennsylvania",Court House (now Colonial Court House),"September 30, 1777","June 27, 1778",8 months and 28 days,[10]

#### Slipt column values into two separate columns

In [15]:
columnsplit = df['City'].str.split(", ", expand=True)
columnsplit

                       0             1
0           Philadelphia  Pennsylvania
1              Baltimore      Maryland
2           Philadelphia  Pennsylvania
3              Lancaster  Pennsylvania
4                   York  Pennsylvania
5           Philadelphia  Pennsylvania
7           Philadelphia  Pennsylvania
8              Princeton    New Jersey
9              Annapolis      Maryland
10               Trenton    New Jersey
11              New York      New York
13              New York      New York
14          Philadelphia  Pennsylvania
15  District of Columbia          None
16            Washington          D.C.
17            Washington          D.C.
18            Washington          D.C.

In [16]:
df = df.assign(City=columnsplit[0],
               State=columnsplit[1])
df.head()

,City,Building,Start date,End date,Duration,Ref,State
0,Philadelphia,Independence Hall,"July 4, 1776 (convened May 10, 1775, prior to ...","December 12, 1776",5 months and 8 days,[8],Pennsylvania
1,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,[9],Maryland
2,Philadelphia,Independence Hall,"March 5, 1777","September 18, 1777",6 months and 13 days,[10],Pennsylvania
3,Lancaster,Court House,"September 27, 1777","September 27, 1777",1 day,[10],Pennsylvania
4,York,Court House (now Colonial Court House),"September 30, 1777","June 27, 1778",8 months and 28 days,[10],Pennsylvania

#### Drop a column

In [17]:
df = df.drop(['Ref'], axis=1)
df.head()

,City,Building,Start date,End date,Duration,State
0,Philadelphia,Independence Hall,"July 4, 1776 (convened May 10, 1775, prior to ...","December 12, 1776",5 months and 8 days,Pennsylvania
1,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,Maryland
2,Philadelphia,Independence Hall,"March 5, 1777","September 18, 1777",6 months and 13 days,Pennsylvania
3,Lancaster,Court House,"September 27, 1777","September 27, 1777",1 day,Pennsylvania
4,York,Court House (now Colonial Court House),"September 30, 1777","June 27, 1778",8 months and 28 days,Pennsylvania

#### Reset an index

In [18]:
df = df.reset_index(drop=True)
df.head()

,City,Building,Start date,End date,Duration,State
0,Philadelphia,Independence Hall,"July 4, 1776 (convened May 10, 1775, prior to ...","December 12, 1776",5 months and 8 days,Pennsylvania
1,Baltimore,Henry Fite House,"December 20, 1776","February 27, 1777",2 months and 7 days,Maryland
2,Philadelphia,Independence Hall,"March 5, 1777","September 18, 1777",6 months and 13 days,Pennsylvania
3,Lancaster,Court House,"September 27, 1777","September 27, 1777",1 day,Pennsylvania
4,York,Court House (now Colonial Court House),"September 30, 1777","June 27, 1778",8 months and 28 days,Pennsylvania

In [19]:
df.loc[df.State=="New York"]

,City,Building,Start date,End date,Duration,State
10,New York,City Hall,"January 11, 1785","October 6, 1788","3 years, 11 months and 5 days",New York
11,New York,Federal Hall,"March 4, 1789","December 5, 1790","1 year, 9 months and 1 day",New York

## DataFrames as HTML

#### Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [11]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>City</th>\n      <th>Building</th>\n      <th>Start Date</th>\n      <th>End Date</th>\n      <th>Duration</th>\n      <th>State</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Albany</td>\n      <td>Stadt Huys</td>\n      <td>June 19, 1754</td>\n      <td>July 11, 1754</td>\n      <td>22\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>New York</td>\n      <td>City Hall</td>\n      <td>October 7, 1765</td>\n      <td>October 25, 1765</td>\n      <td>23\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Philadelphia</td>\n      <td>Carpenters\' Hall</td>\n      <td>September 5, 1774</td>\n      <td>October 26, 1774</td>\n      <td>1\xa0month and 21\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>May 10, 1775</td>\n      <td>December 12, 1776</td>\n      <td>1\xa0year, 7\xa0months and 2\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Baltimore</td>\n      <td>Henry Fite House</td>\n      <td>December 20, 1776</td>\n      <td>February 27, 1777</td>\n      <td>2\xa0months and 7\xa0days</td>\n      <td>Maryland</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>March 5, 1777</td>\n      <td>September 18, 1777</td>\n      <td>6\xa0months and 13\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Lancaster</td>\n      <td>Court House</td>\n      <td>September 27, 1777</td>\n      <td>September 27, 1777</td>\n      <td>1\xa0day</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>York</td>\n      <td>Court House</td>\n      <td>September 30, 1777</td>\n      <td>June 27, 1778</td>\n      <td>8\xa0months and 28\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Philadelphia</td>\n      <td>College Hall</td>\n      <td>July 2, 1778</td>\n      <td>March 1, 1781</td>\n      <td>2\xa0years, 7\xa0months and 27\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Philadelphia</td>\n      <td>Independence Hall</td>\n      <td>March 2, 1781</td>\n      <td>June 21, 1783</td>\n      <td>2\xa0years, 3\xa0months and 19\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Princeton</td>\n      <td>Nassau Hall</td>\n      <td>June 30, 1783</td>\n      <td>November 4, 1783</td>\n      <td>4\xa0months and 5\xa0days</td>\n      <td>New Jersey</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Annapolis</td>\n      <td>Maryland State House</td>\n      <td>November 26, 1783</td>\n      <td>August 19, 1784</td>\n      <td>8\xa0months and 24\xa0days</td>\n      <td>Maryland</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Trenton</td>\n      <td>French Arms Tavern</td>\n      <td>November 1, 1784</td>\n      <td>December 24, 1784</td>\n      <td>1\xa0month and 23\xa0days</td>\n      <td>New Jersey</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>New York</td>\n      <td>City Hall</td>\n      <td>January 11, 1785</td>\n      <td>October 6, 1788</td>\n      <td>3\xa0years, 11\xa0months and 5\xa0days</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>New York</td>\n      <td>Federal Hall</td>\n      <td>March 4, 1789</td>\n      <td>December 5, 1790</td>\n      <td>1\xa0year, 9\xa0months and 1\xa0day</td>\n      <td>New York</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Philadelphia</td>\n      <td>Congress Hall</td>\n      <td>December 6, 1790</td>\n      <td>May 14, 1800</td>\n      <td>9\xa0years, 5\xa0months and 8\xa0days</td>\n      <td>Pennsylvania</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>District of Columbia</td>\n      <td>United States Capitol</td>\n      <td>November 17, 1800</td>\n      <td>August 24, 1814</td>\n      <td>13\xa0years, 9\xa0months and 7\xa0days</td>\n      <td>None</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Washington</td>\n      <td>Blodgett\'s Hotel</td>\n      <td>September 19, 1814</td>\n      <td>December 7, 1815</td>\n      <td>1\xa0year, 2\xa0months and 18\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Washington</td>\n      <td>Old Brick Capitol</td>\n      <td>December 4, 1815</td>\n      <td>March 3, 1819</td>\n      <td>3\xa0years, 2\xa0months and 27\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Washington</td>\n      <td>United States Capitol</td>\n      <td>March 4, 1819</td>\n      <td>present</td>\n      <td>201\xa0years, 5\xa0months and 14\xa0days</td>\n      <td>D.C.</td>\n    </tr>\n  </tbody>\n</table>'

#### You may have to strip unwanted newlines to clean up the table.

In [12]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>City</th>      <th>Building</th>      <th>Start Date</th>      <th>End Date</th>      <th>Duration</th>      <th>State</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Albany</td>      <td>Stadt Huys</td>      <td>June 19, 1754</td>      <td>July 11, 1754</td>      <td>22\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>1</th>      <td>New York</td>      <td>City Hall</td>      <td>October 7, 1765</td>      <td>October 25, 1765</td>      <td>23\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>2</th>      <td>Philadelphia</td>      <td>Carpenters\' Hall</td>      <td>September 5, 1774</td>      <td>October 26, 1774</td>      <td>1\xa0month and 21\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>3</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>May 10, 1775</td>      <td>December 12, 1776</td>      <td>1\xa0year, 7\xa0months and 2\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>4</th>      <td>Baltimore</td>      <td>Henry Fite House</td>      <td>December 20, 1776</td>      <td>February 27, 1777</td>      <td>2\xa0months and 7\xa0days</td>      <td>Maryland</td>    </tr>    <tr>      <th>5</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>March 5, 1777</td>      <td>September 18, 1777</td>      <td>6\xa0months and 13\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>6</th>      <td>Lancaster</td>      <td>Court House</td>      <td>September 27, 1777</td>      <td>September 27, 1777</td>      <td>1\xa0day</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>7</th>      <td>York</td>      <td>Court House</td>      <td>September 30, 1777</td>      <td>June 27, 1778</td>      <td>8\xa0months and 28\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>8</th>      <td>Philadelphia</td>      <td>College Hall</td>      <td>July 2, 1778</td>      <td>March 1, 1781</td>      <td>2\xa0years, 7\xa0months and 27\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>9</th>      <td>Philadelphia</td>      <td>Independence Hall</td>      <td>March 2, 1781</td>      <td>June 21, 1783</td>      <td>2\xa0years, 3\xa0months and 19\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>10</th>      <td>Princeton</td>      <td>Nassau Hall</td>      <td>June 30, 1783</td>      <td>November 4, 1783</td>      <td>4\xa0months and 5\xa0days</td>      <td>New Jersey</td>    </tr>    <tr>      <th>11</th>      <td>Annapolis</td>      <td>Maryland State House</td>      <td>November 26, 1783</td>      <td>August 19, 1784</td>      <td>8\xa0months and 24\xa0days</td>      <td>Maryland</td>    </tr>    <tr>      <th>12</th>      <td>Trenton</td>      <td>French Arms Tavern</td>      <td>November 1, 1784</td>      <td>December 24, 1784</td>      <td>1\xa0month and 23\xa0days</td>      <td>New Jersey</td>    </tr>    <tr>      <th>13</th>      <td>New York</td>      <td>City Hall</td>      <td>January 11, 1785</td>      <td>October 6, 1788</td>      <td>3\xa0years, 11\xa0months and 5\xa0days</td>      <td>New York</td>    </tr>    <tr>      <th>14</th>      <td>New York</td>      <td>Federal Hall</td>      <td>March 4, 1789</td>      <td>December 5, 1790</td>      <td>1\xa0year, 9\xa0months and 1\xa0day</td>      <td>New York</td>    </tr>    <tr>      <th>15</th>      <td>Philadelphia</td>      <td>Congress Hall</td>      <td>December 6, 1790</td>      <td>May 14, 1800</td>      <td>9\xa0years, 5\xa0months and 8\xa0days</td>      <td>Pennsylvania</td>    </tr>    <tr>      <th>16</th>      <td>District of Columbia</td>      <td>United States Capitol</td>      <td>November 17, 1800</td>      <td>August 24, 1814</td>      <td>13\xa0years, 9\xa0months and 7\xa0days</td>      <td>None</td>    </tr>    <tr>      <th>17</th>      <td>Washington</td>      <td>Blodgett\'s Hotel</td>      <td>September 19, 1814</td>      <td>December 7, 1815</td>      <td>1\xa0year, 2\xa0months and 18\xa0days</td>      <td>D.C.</td>    </tr>    <tr>      <th>18</th>      <td>Washington</td>      <td>Old Brick Capitol</td>      <td>December 4, 1815</td>      <td>March 3, 1819</td>      <td>3\xa0years, 2\xa0months and 27\xa0days</td>      <td>D.C.</td>    </tr>    <tr>      <th>19</th>      <td>Washington</td>      <td>United States Capitol</td>      <td>March 4, 1819</td>      <td>present</td>      <td>201\xa0years, 5\xa0months and 14\xa0days</td>      <td>D.C.</td>    </tr>  </tbody></table>'

You can also save the table directly to a file.

In [13]:
df.to_html('table.html')

In [20]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html