# Web scrapping 2021 olympic data

In [23]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [24]:
url = 'https://olympics.com/tokyo-2020/olympic-games/en/results/all-sports/medal-standings.htm'

In [25]:
tables = pd.read_html(url, flavor='html5lib')
tables

[    Rank                    Team/NOC  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
 0      1  People's Republic of China          19          10          11
 1      2                       Japan          17           4           7
 2      3    United States of America          16          17          11
 3      4                         ROC          10          14          10
 4      5                   Australia          10           3          12
 ..   ...                         ...         ...         ...         ...
 65    63                     Finland           0           0           1
 66    63                      Israel           0           0           1
 67    63                      Kuwait           0           0           1
 68    63                    Portugal           0           0           1
 69    63                  San Marino           0           0           1

     Total  RankbyTotal NOCCode
 0      40            2     CHN
 1      28            4     JPN
 2      44            1     USA
 3      34            3     ROC
 4      25            5     AUS
 ..    ...          ...     ...
 65      1           47     FIN
 66      1           47     ISR
 67      1           47     KUW
 68      1           47     POR
 69      1           47     SMR

 [70 rows x 8 columns],
                 Team/NOC  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total NOCCode
 0                  China           6           4           5     15     CHN
 1                  Japan           8           3           1     12     JPN
 2          United States           7           3           3     13     USA
 3                    ROC           5           4           6     15     ROC
 4              Australia           2           2           6     10     AUS
 5          Great Britain           5           6           3     14     GBR
 6      Republic of Korea           2           1           6      9     KOR
 7            Netherlands           2           4           0      6     NED
 8                 France           2           0           2      4     FRA
 9                Germany           0           3           4      7     GER
 10           New Zealand           1           1           2      4     NZL
 11        Czech Republic           3           2           1      6     CZE
 12               Croatia           2           1           2      5     CRO
 13                 Italy           1           5           5     11     ITA
 14               Hungary           2           2           2      6     HUN
 15              Slovenia           2           0           1      3     SLO
 16           Switzerland           0           1           2      3     SUI
 17                Brazil           1           1           2      4     BRA
 18               Georgia           1           3           0      4     GEO
 19               Romania           0           2           0      2     ROU
 20        Chinese Taipei           0           2           0      2     TPE
 21      Hong Kong, China           1           0           0      1     HKG
 22               Austria           0           0           1      1     AUT
 23                Serbia           0           1           1      2     SRB
 24                Norway           1           1           0      2     NOR
 25              Slovakia           0           1           0      1     SVK
 26               Tunisia           1           1           0      2     TUN
 27               Ireland           1           0           0      1     IRL
 28            Uzbekistan           1           0           1      2     UZB
 29               Ecuador           1           0           0      1     ECU
 30              Ethiopia           1           0           0      1     ETH
 31                  Fiji           1           0           0      1     FIJ
 32                Greece           1           0           0      1     GRE
 33  Islamic Rep. of Iran           1           0           0      1     IRI
 34                Latvia           1           0           0      1     LAT
 35              Colombia           0           1           1      2     COL
 36                 Spain           0           0           1      1     ESP
 37             Indonesia           0           1           1      2     INA
 38              Mongolia           0           1           1      2     MGL
 39               Belgium           0           1           1      2     BEL
 40                  Cuba           0           0           1      1     CUB
 41               Denmark           0           1           1      2     DEN
 42                Uganda           0           1           1      2     UGA
 43                Jordan           0           1           0      1     JOR
 44       North Macedonia           0           1           0      1     MKD
 45             Venezuela           0           1           0      1     VEN
 46               Ukraine           0           0           2      2     UKR
 47            Kazakhstan           0           0           2      2     KAZ
 48                 Egypt           0           0           1      1     EGY
 49                Turkey           0           0           1      1     TUR
 50             Argentina           0           0           1      1     ARG
 51               Finland           0           0           1      1     FIN
 52                Kuwait           0           0           1      1     KUW
 53              Portugal           0           0           1      1     POR,
              Team/NOC  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total NOCCode
 0               China          10           4           6     20     CHN
 1               Japan           8           1           5     14     JPN
 2       United States           9          11           8     28     USA
 3                 ROC           5           9           3     17     ROC
 4           Australia           8           1           6     15     AUS
 5       Great Britain           1           3           4      8     GBR
 6   Republic of Korea           2           3           0      5     KOR
 7         Netherlands           1           2           5      8     NED
 8              France           1           5           3      9     FRA
 9             Germany           1           0           5      6     GER
 10             Canada           3           4           5     12     CAN
 11        New Zealand           2           2           0      4     NZL
 12            Croatia           1           0           0      1     CRO
 13              Italy           1           2           7     10     ITA
 14           Slovenia           0           1           0      1     SLO
 15             Kosovo           2           0           0      2     KOS
 16        Switzerland           1           2           2      5     SUI
 17             Brazil           0           2           1      3     BRA
 18            Romania           1           1           0      2     ROU
 19     Chinese Taipei           1           0           2      3     TPE
 20   Hong Kong, China           0           2           0      2     HKG
 21       South Africa           1           2           0      3     RSA
 22            Austria           1           1           1      3     AUT
 23             Serbia           1           0           1      2     SRB
 24           Slovakia           1           0           0      1     SVK
 25            Estonia           1           0           1      2     EST
 26            Ireland           0           0           1      1     IRL
 27            Bermuda           1           0           0      1     BER
 28        Philippines           1           0           0      1     PHI
 29           Thailand           1           0           0      1     THA
 30           Colombia           0           1           0      1     COL
 31              Spain           0           2           0      2     ESP
 32          Indonesia           0           0           1      1     INA
 33           Mongolia           0           0           1      1     MGL
 34               Cuba           0           1           0      1     CUB
 35           Bulgaria           0           1           0      1     BUL
 36              India           0           1           0      1     IND
 37             Poland           0           1           0      1     POL
 38       Turkmenistan           0           1           0      1     TKM
 39            Ukraine           0           0           1      1     UKR
 40         Kazakhstan           0           0           1      1     KAZ
 41              Egypt           0           0           1      1     EGY
 42             Mexico           0           0           1      1     MEX
 43             Turkey           0           0           1      1     TUR
 44         Azerbaijan           0           0           1      1     AZE
 45      CÃ´te d'Ivoire           0           0           1      1     CIV
 46             Israel           0           0           1      1     ISR
 47         San Marino           0           0           1      1     SMR,
              Team/NOC  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total NOCCode
 0               China           3           2           0      5     CHN
 1               Japan           1           0           1      2     JPN
 2       United States           0           2           0      2     USA
 3                 ROC           0           1           1      2     ROC
 4       Great Britain           1           0           0      1     GBR
 5   Republic of Korea           1           0           0      1     KOR
 6         Netherlands           0           1           0      1     NED
 7              France           0           0           1      1     FRA
 8      Chinese Taipei           0           0           1      1     TPE
 9             Ukraine           0           0           1      1     UKR
 10             Mexico           0           0           1      1     MEX,
         Team/NOC  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total NOCCode
 0  United States           0           1           0      1     USA
 1  Great Britain           0           0           2      2     GBR
 2        Germany           2           1           0      3     GER]

In [26]:
len(tables)

5

#### What we get in return is a list of dataframes for any tabular data that Pandas found.

In [27]:
type(tables)

list

#### We can slice off any of those dataframes that we want using normal indexing.

In [28]:
df = tables[0]
df.head()

,Rank,Team/NOC,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total,RankbyTotal,NOCCode
0,1,People's Republic of China,19,10,11,40,2,CHN
1,2,Japan,17,4,7,28,4,JPN
2,3,United States of America,16,17,11,44,1,USA
3,4,ROC,10,14,10,34,3,ROC
4,5,Australia,10,3,12,25,5,AUS

In [29]:
df.rename(columns = {"Unnamed: 2":"GOLD","Unnamed: 3":"SILVER", "Unnamed: 4":"BRONZE"}, inplace = True)             
df.head()

,Rank,Team/NOC,GOLD,SILVER,BRONZE,Total,RankbyTotal,NOCCode
0,1,People's Republic of China,19,10,11,40,2,CHN
1,2,Japan,17,4,7,28,4,JPN
2,3,United States of America,16,17,11,44,1,USA
3,4,ROC,10,14,10,34,3,ROC
4,5,Australia,10,3,12,25,5,AUS

## DataFrames as HTML